*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --color1:rgba(85, 85, 85, 0.5);
    --color2:rgb(240, 255, 255);
    --color3:rgba(47, 109, 66, 0.5);
    --color4:rgba(47, 109, 66); /* button hover color */
}

header {
    background:var(--color3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.856);
}


.pure-menu-link {
    color:var(--color2);
}

#title-section {
    display:flex;
    justify-content: center; 
}

#card-container {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}

#card {
    display:flex;
    justify-content:space-around;
    border-radius:15px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items:center;
    
}

#card-input {
    background-color:var(--color1);
    border-radius:5px;
    padding: 3px 3px 3px 3px;
    height: 150px;
    width: 300px;
    overflow:hidden;
    display:inline-block;
    text-align:center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.856);
}
form {
    align-items:center;
    vertical-align:middle;
    justify-content:space-between;
}

#btn-txt {
    color:var(--color2); 
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.856);
}

.txtbx {  /* text input box */
    margin:auto;
    margin-top:5px;
    margin-bottom:7px;
    width:80%;
}

.submit-btn {
    border: 1px solid var(--color5);
    background-color:var(--color3);
    color:var(--color2);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.856);
}

.submit-btn:hover {
    background-color:var(--color4);
    border: 1px solid var(--color4);
}

#randomSearchButton {
    position:relative;
    background-color:var(--color3);
    color:var(--color2);
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.856);
}

#randomSearchButton:hover {
    border:1px solid var(--color4);
    background-color:var(--color4);
}

#resultantDrink, #resultantFood, #secondaryResultantDrink {
    width:80%;
    overflow:visible;
    text-align: center;
    padding: 10px;
    margin:auto;
}

.pure-button {  /* ingredient buttons for "SEARCH BY INGREDIENT API CALL */
    margin: 5px;
}

#resultantDrink h3, #secondaryResultantDrink h3 {  /* title of drink */
    color: var(--color3);
    font-size:24px;
}

#resultantDrink .drink-instructions, #secondaryResultantDrink .drink-instructions {  /* drink instructions */
    font-style: italic;
}

#resultantDrink, #resultantFood {
    border-radius:5px;
    overflow:visible;
    margin:auto;
    margin-bottom:15px;
}

    @media screen and (max-width: 480px) {
    #card-input{
        height:160px;
    }
}
