*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --color1:rgba(85, 85, 85, 0.5);
    --color2:rgb(255, 255, 255);
    --color3:rgba(47, 109, 66, 0.5);
}

header {
    background:var(--color3);
    box-shadow: 0px, 5px, 5px, 0px;
}

#title-section {
    display:flex;
    justify-content: center; 
}

#page-header {
    text-align:center;
    width:45%;
    font-size: 70px;
    font-family: 'Abel', 'Open Sans', sans-serif;
}

#card-container {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin: 10px;
}

#card {
    display:flex;
    justify-content:space-around;
    background-color:var(--color2);
    border: 5px solid black;
    border-radius:15px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items:center;
}

#card-input {
    background-color:var(--color1);
    border-radius:5px;
    padding: 3px 3px 3px 3px;
    height: 150px;
    width: 0 auto;
    overflow:hidden;
    display:inline-block;
    text-align:center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
form {
    align-items:center;
    vertical-align:middle;
    justify-content:space-between;
}

#btn-txt {
    font-family:Arial, Helvetica, sans-serif;
    color:white;
}

#userDrink, #userIngredient {  /* text input box */
    margin:auto;
    margin-top:5px;
    margin-bottom:5px;
    
}

#submit-btn {
    border-radius: 5em;
}

#randomSearchButton {
    position:relative;
    border-radius: 5em;
}

#resultantDrink, #resultantFood, #secondaryResultantDrink {
    width:100%;
    overflow:visible;
    text-align: center;
    padding: 10px;
}

.pure-button {  /* ingredient buttons for "SEARCH BY INGREDIENT API CALL */
    margin: 5px;
}

#resultantDrink h3, #secondaryResultantDrink h3 {  /* title of drink */
    color: var(--color3);
}

#resultantDrink .drink-instructions, #secondaryResultantDrink .drink-instructions {  /* drink instructions */
    font-style: italic;
}

